body{
    background-color: #ffc0cb;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: blue;
}

p{
    color: red;
    text-align: center;
}

h2{
    color: green;
    font-style: italic;
}

h3{
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

ul{
    list-style-position:inherit;
    padding: 0px 20px;
}

ul li{
    font-size: 16px;
}

ol li{
    color: blue;
    font-style: italic;
}