@font-face {
	
	font-family:sourcesans;
	src:url(../fuentes/SourceSansPro-Regular.ttf);
	
}

@font-face {
	
	font-family:sourcesans-light;
	src:url(../fuentes/SourceSansPro-Light.ttf);
	
}


@font-face {
	
	font-family:Quattrocento-Regular;
	src:url(../fuentes/Quattrocento-Regular.ttf);
	
}

@font-face {
	
	font-family:Quattrocento-Bold;
	src:url(../fuentes/Quattrocento-Bold.ttf);
	
}