canvas{
    height: 100px;
    width: 100%;
    padding: 0px;
    margin-left: 8px;
    margin-right: 8px;
    border: 0px;
}

.canvas{
    display: flex;
    justify-content: center;
}

h1{
    color: #FF7600;
    font-style: italic;
    text-align: center;
}

h2{
    color: #FF8A26;
    font-style: italic;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

h3{
    color: #FFB776;
    font-style: italic;
}

h4{
    color: #FF8A26;
    font-style: italic;
    text-align: right;
    margin-right: 8px;

}

p{
    color: #8792FD;
    font-style: italic;
}

a{
    color: #FF8A26;
    text-decoration: none;
}

li{
    color: #8792FD;
    font-style: italic;
}

img{
    color: #8792FD;
    font-style: italic;
}

body{
    background-color: #01535B;
}

.ParrafoEspecial{
    color: #966D00;
    font-style: oblique;
    text-align: left;
    background-color: #964700;
}

.noticias{
    padding: 12px;
    border: 5px;
    margin: 5px;
    border-color: #00262A;
    border-style: solid;
    background-color: #003F45;
    width: 600px;
}

.contenedor{
    display: flex;
    margin-left: 3px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 99%;
}

.noticias_especificas{
    padding: 12px;
    border: 5px;
    margin: 5px;
    border-color: #00262A;
    border-style: solid;
    background-color: #003F45;
}

.titulo_especial{
    margin: 10px;
}

img{
    border: 10px;
    border-style: dotted;
    border-color: #00262A #FF8A26 #FF8A26 #00262A;
    
}

ul.noticias_especificas{
    margin: 12px;
    padding: 5px;
    border: 0px;
}

ul.noticias_especificas li{
    padding: 5px 0;
}

div.barra_de_navegacion{
    margin: 8px;
    border: 4px solid black;
    background-color: #01535B;
    padding: 0px;
}

ul.barra_de_navegacion{
    margin: 1px;
    padding: 0px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    
    
}
ul.barra_de_navegacion li{
    margin: 0px 1px;
    border: 4px solid black;
    padding: 10px;
    background-color: #003F45;
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;

}

ul.barra_de_navegacion li:hover{
    background-color: #01535B;
    color: #FF8A26;
}

div.boton_contacto{
    margin: 10px;   
}

div.contacto_encabezado{
    display: flex;
    justify-content: space-between;
}

button.boton_contacto{
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
}

body.negro{
    background-color: black;
}

body.rojo{
    background-color: #511309;
}

.li_red{
    color: white;
    font-style: italic;
}
