@font-face {    /* importar el tipo de letra que se va usar en el sitio web*/
    font-family: 'HKGrotesk-Medium';
    src: url(font/HKGrotesk-Medium.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fff;
    font-family: 'HKGrotesk-Medium', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*////encabezado/////*/

/*///////encabezado-parte-superior///////////*/

.encabezado-superior , .encabezado-inferior , .pie-de-pag{
    background-color: rgba(31, 61, 79, 1);
    color: #fff; 
    font-style: normal;
    text-transform: capitalize;
}

.encabezado-superior{
    height: 50px;
    display: flex;
    justify-content: space-between; /* se alinean los bloques bien ensanchados con respecto al eje horizontal*/
    align-items: flex-end; /*se alinea los bloques en la parte de abajo con respeto al eje vertical*/
    padding: 7px 100px;
    
}

.encabezado-superior ul{
    margin-left: 90px;
    text-align: center;
}

.encabezado-superior li{
    text-transform: lowercase;
    padding: 1px;
    list-style: none;
}

.encabezado-superior img.correo, .encabezado-superior img.telefono{
    width: 13px;
    height: 13px;
}

.encabezado-superior form{
    display: inline;
    padding: 0px 10px;
}

.encabezado-superior label{
    font-size: 14px;
}


.encabezado-superior input{
    height: 32px;
    width: 140px;
    font-size: 15px;
    border-radius: 5px;
    padding: 0px 2px;
    margin: 0px 2px;
    border: 1px solid #d8e1e4;
    color: #69747f;
    text-align: start; /*aliniamiento texto*/
}

/*representa el texto provisional*/
.encabezado-superior  input::placeholder { 
    color: #76959Fcc;   /*color de letra*/
    letter-spacing: 1px; /*sepacion enre letras*/
    text-align: center;  /*alineamos el texto en el centro*/
    text-indent: 0px;    /*cero identacion*/
  }
  
/*representa un elemento cuando le haces click*/
.encabezado-superior input:focus { 
    text-indent: 8px; /* identamos el cursor donde se comienza a escribir*/
    outline: none; /*funciona para sacar borde interno de color negro cuando hacemos focus al input text*/
 }

.encabezado-superior input.checkbox{ /* boton para seleccionar */
    height: auto;
    width: auto;
    padding: 0px 1px;
    margin: 0px 1px;
}

.encabezado-superior button{
    height: 35px;
    width: auto;
    text-align: center;
    padding: 0px 5px;
    margin: 0px 5px;
    background-color: rgba(31, 61, 79, 1);
    border: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: bold; /*grosor de la letra*/
}

.encabezado-superior button.sesion{
    background-color: #2b424f;
}

/*reprenta el elemento cuando el puntero pasa sobre el*/
.encabezado-superior button:hover{
    color: #f8ac18;
}


div.encabezado-superior button:hover.sesion{
    background-color: #01111A;
    
}
/*/////termina encabezado-parte-superior//////*/


/*///////encabezado-parte-inferior///////////*/

div.encabezado-inferior{
    
    border-top: 2px solid #f8ac18;
    display: flex; /* los bloques pasan hacer inline*/ 
    justify-content: space-between; /* las cajas contenidas se separan a la punta de los extremos*/  
    padding: 7px 80px;
    flex-flow: row wrap; /* a medida que se achica la pantalla los componentes se acomodan en a la parte inferior */
    align-items: center; /* acomoda en el mismo renglon de forma centrada la botonera con el titulo h1*/
    position: sticky; /* sirve para cuando el usuario hace scroll hacia abajo, todo el div siga mostrandose en la pantalla*/ 
    top: 0; /* en que posicion queda el div cuando es afectado por position sticky*/
}


/*//logo (icono - titulo)//*/

div.logo{
    display: flex;
    padding-right: 40px;
}

.logo img.logo{
    width: 55px;
    height: 55px;
    padding-top: 12px;
}

.logo h1{
    padding: 10px;
    font-size: 22px;
    letter-spacing: 2px;
}

/*//botonera (nav)//*/

div.botonera{
    
    margin: 8px;
    padding: 0px 10px;
}

ul.botonera{ 
    margin: 1px;
    list-style: none; /*saca el puntito de cada li*/
    display: flex; /* los bloques pasan hacer inline*/ 
    justify-content: space-around; /* los separa a los extremos pero no tanto*/  
}

ul.botonera li{
    margin: 0 5px;   
}


ul.botonera a{
    color: #ffffffcc; 
    font-weight: 700px;   /*grosor de la letra*/
    text-decoration: none; /* saca la linea de abajo de los link que se ponen por defecto*/
    padding: 10px 0px;
    margin: 0px 10px;
    text-align: center;
}

/* apariencia cuando se pasa el puntero del mouse por encima*/
ul.botonera a:hover, ul.botonera a.pag-actual { 
    color: #f8ac18;

}
/*/////termina botonera//////*/
/*/////termina encabezado//////*/


/*/////////main///////////*/

/*/////imagen principal/////*/
div.imagen-principal{
    background-color: black;    
    display: flex;
    justify-content: center;
}

div.imagen-principal img{
    width: 90%; /*ajusta la imagen al 100% de la pantalla*/  
}
/*////termina imagen principal////*/

/*/////tarjetas de servicios/////*/
div.main .sesion{
    margin: 0px 94px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    text-transform: capitalize;
}

.sesion div.titulo {
    color: #f8ac18;
    font-size: 24px;
    width: 100%;
    padding: 52px 0px 44px;
}

.sesion div.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 0px;
    width: 100%;
}

.sesion div.tarjeta{
    border: 1px solid #D8E1E4;
    width: 32%;
}

.sesion div.tarjeta:hover{
    border: 1px solid #f8ac18;
    background-color: #D8E1E4;
}

.sesion div.imagen{
    width: 100%;
    height: 120px;
    overflow: hidden;  
}

div.imagen img{
    width: 100%;
    height: 100%;
}

.sesion div.texto{
    color: #01111A;
}

.sesion .texto h3{
    font-size: 20px;
    font-weight: bold; /*grosor de la letra*/
    text-align: center;
    padding: 20px 0px;
    
}

.sesion .texto p{
    text-align: justify;
    padding: 0px 15px;
}
/*/////termina tarjetas de servicio/////*/


/*/////////tabla///////////*/

table{
    background-color: white;
    width: 100%;
    padding: 8px 0px;
}

tr , td , th {
    color: #01111A;
    width: 250px;
    height: 50px;
    padding: 3px;
    border: 2px solid #f8ac18;
}

th{
    background-color: #04344E;
    color: white;
}

td img{
    height: 100%;
}
/*/////termina tabla///////*/

/*/////termina main//////*/


/*//comienza footer////*/
div.pie-de-pag{
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div a.politicas{
    color: #fff;
}

div.pie-de-pag div.redes-sociales{
    
    padding: 10px;  
}

div.pie-de-pag div.redes-sociales ul.redes-sociales{
    display:flex;
    list-style:none;
    justify-content: flex-end;
    padding: 8px 18px;
}


img.redes{
    border-radius: 10px;
    width: 20px;
    padding: 7px;
    margin: 2px;
}

img.redes:hover{
    background-color: #01111A;
}

p.fin{
    text-align: center;
    width: 100%;
    margin: 5px;
}

/*/////termina footer//////*/

