@font-face {    /* importar el tipo de letra que se va usar en el sitio web*/
    font-family: 'HKGrotesk-Medium';
    src: url(font/HKGrotesk-Medium.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fff;
    font-family: 'HKGrotesk-Medium', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*///////ENCABEZADO///////////*/

/*///////encabezado parte top///////////*/

div.encabezado-de-top , div.encabezado-de-bot , div.pie-de-pag{
    background-color: rgba(31, 61, 79, 1);
    color: #fff;
    font-style: normal;
    text-transform: capitalize;
}

div.encabezado-de-top{
    height: 50px;
    display: flex;
    justify-content: space-between; /* se alinean los bloques bien ensanchados con respecto al eje horizontal*/
    align-items: flex-end; /*se alinea los bloques en la parte de abajo con respeto al eje vertical*/
    padding: 7px 100px;
    
}

div.encabezado-de-top ul{
    margin-left: 90px;
    text-align: center;
}

div.encabezado-de-top ul li{
    text-transform: lowercase;
    padding: 1px;
    list-style: none;
}

li img.correo, li img.telefono{
    width: 13px;
    height: 13px;
}

div.encabezado-de-top form{
    display: inline;
    padding: 0px 10px;
}

div.encabezado-de-top form label{
    font-size: 14px;
}



div.encabezado-de-top form input{
    height: 32px;
    width: 140px;
    text-align: start;
    font-size: 15px;
    border-radius: 5px;
    padding: 0px 2px;
    margin: 0px 2px;
    border: 1px solid #d8e1e4;
    color: #69747f;
    place-items: start;
    
}

div.encabezado-de-top form input::placeholder { 
    color: #76959Fcc;   /*color de letra*/
    letter-spacing: 1px; /*sepacion enre letras*/
    text-align: center;  /*alineamos el texto en el centro*/
    text-indent: 0px;    /*cero identacion*/
  }
  
div.encabezado-de-top form input:focus { 
    text-indent: 8px; /* identamos el cursor donde se comienza a escribir*/
    outline: none; /*funciona para sacar borde interno de color negro cuando hacemos focus al input text*/
 }

div.encabezado-de-top form input.checkbox{ /* boton para seleccionar */
    height: auto;
    width: auto;
    padding: 0px 1px;
    margin: 0px 1px;
}

div.encabezado-de-top form button{
    height: 35px;
    width: auto;
    text-align: center;
    padding: 0px 5px;
    margin: 0px 5px;
    background-color: rgba(31, 61, 79, 1);
    border: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

div.encabezado-de-top form button.sesion{
    background-color: #2b424f;
}

div.encabezado-de-top form button:hover{
    color: #f8ac18;
}

div.encabezado-de-top form button:hover.sesion{
    background-color: #01111A;
    
}

/*///////encabezado parte bot///////////*/


/* contiene logo , titulo principal h1 y nav */
div.encabezado-de-bot{
    
    border-top: 2px solid #f8ac18;
    display: flex; /* los bloques pasan hacer inline*/ 
    justify-content: space-between; /* las cajas contenidas se separan a la punta de los extremos*/  
    padding: 7px 80px;
    flex-flow: row wrap; /* a medida que se achica la pantalla los componentes se acomodan en a la parte inferior */
    align-items: center; /* acomoda en el mismo renglon de forma centrada la botonera con el titulo h1*/
    position: sticky; /* sirve para cuando el usuario hace scroll hacia abajo, todo el div siga mostrandose en la pantalla*/ 
    top: 0; /* en que posicion queda el div cuando es afectado por position sticky*/
}


/*////////TITULO H1 Y LOGO/////////////*/

div.logo{
    display: flex;
    padding-right: 40px;
}

div.logo img.logo{
    width: 55px;
    height: 55px;
    padding-top: 12px;
}

div.logo h1{
    padding: 10px;
    font-size: 22px;
    letter-spacing: 2px;
}

/*////////BOTONERA/////////////*/

div.botonera{
    
    margin: 8px;
    padding: 0px 10px;
}

ul.botonera{ 
    margin: 1px;
    list-style: none; /*saca el puntito de cada li*/
    display: flex; /* los bloques pasan hacer inline*/ 
    justify-content: space-around; /* los separa a los extremos pero no tanto*/  
    
}

ul.botonera li{
    
    margin: 0 5px;
    
}


ul.botonera li a{
    color: #ffffffcc; 
    font-weight: 700;
    text-decoration: none; /* saca la linea de abajo de los link que se ponen por defecto*/
    padding: 10px 0px;
    display: block; /* esto lo hago para que los textos de la botonera no suban para top*/
    margin: 0px 10px;
    text-align: center;
    
    
}

/* apariencia cuando se pasa el puntero del mouse por encima*/
ul.botonera li a:hover, ul.botonera li a.pag-actual { 
    color: #f8ac18;
    
}

/*////////////////termina botonera//////////////////////////*/
/*////////////////termina encabezado////////////////////////*/


/*////////////////comienza cuerpo//////////////////////////*/

div.imagen-bot-cabecera{
    background-color: black;
    
    display: flex;
    justify-content: center;

}

div.imagen-bot-cabecera img{
    
    width: 90%; /*ajusta la imagen al 100% de la pantalla*/  
    
}

/*////////////////comienza pie de pag//////////////////////////*/


div.pie-de-pag{
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div a.politicas{
    color: #fff;
}

div.pie-de-pag div.redes-sociales{
    
    padding: 10px;  
}

div.pie-de-pag div.redes-sociales ul.redes-sociales{
    display:flex;
    list-style:none;
    justify-content: flex-end;
    padding: 8px 18px;
}


img.redes{
    border-radius: 10px;
    width: 20px;
    padding: 7px;
    margin: 2px;
}

img.redes:hover{
    background-color: #01111A;
}

p.fin{
    text-align: center;
    width: 100%;
    margin: 5px;
}

/*////////////////termina pie de pag//////////////////////////*/