p{
    background-color: #A90D18;
    color: #D0AC28;
    font-style: italic;
}

.realizado{
    background-color: #2C930B;
    color: #000;

}

body{
    background-color: #221878;
    font-family: Arial, Helvetica, sans-serif;
    color: #AD550D;
}

