p{
    background-color: #A90D18;
    color: #D0AC28;
}

.realizado{
    background-color: #2C930B;
    color: #000;

}

body{
    background-color: #221878;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #AD550D;
}

